/*icons*/
.devicon-html5-plain, .devicon-css3-plain, .devicon-javascript-plain {
    font-size: 115px;
}
.devicon-wordpress-plain {
    font-size: 115px;
    color: #21759b;
}
/*navbar/container*/
.navbar-brand {
		float:none;
		margin-left:0 !important;
}
.container-fluid {
    padding: 0;
    text-align: center;
}
.portfolio h1{
	color: white;
        font-size: 50px;
	margin-bottom: 0px;
}
hr {
    width: 75%;
	margin-top: 0px;
}
/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}

.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
    background-color: rgba(0,0,0,0.5);
	width: 66%;
	position: absolute;
	left: 16.50%;
    	right:16.50%;
	top: 50%;
	border-radius: 10px;

}
	.hsContent h2  {
		color: #fff8de;
		/*background-color: rgba(0,0,0,0.5);*/
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: auto;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .bcg {background-image:url("/img/bcg_slide-4.jpg")}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
    padding: 25px;}
/* Slide 2 */
/*#slide-2 .bcg {background-image:url("/img/bcg_slide-2.jpg")}*/
#slide-2 .bcg {
    position:fixed;
    background: none;
    background-color: #010101;
    height: 100%;
    text-align: center
}
#slide-2 .hsContent {
    position: fixed;
    width:100%;
    left:0;
    top: 0%;
}
#slide-2 img {
	height: 250px;
	width: 450px;
	display: inline;
    	align-content: center;
	margin: 10px;
}

/* Slide 3 */
#slide-3 .bcg {
    background-image:url("/img/bcg_slide-3.jpg");
    height: 100%;
}
#slide-3 .hsContent {
    position:fixed;
    top: 10%;
    height: 80%;
}
#slide-3 h1 {
	color: white;
        font-size: 50px;
	}
#slide-3 p {
    color: white;
    font-size: 20px;
    padding-right: 10px;
}

/* Slide 4 */
#slide-4 .bcg {background-image:url("/img/bcg_slide-1.jpg")}
#slide-4 .hsContent {
    position: fixed;
    top: 200px;
}
	#slide-4 h2 {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}
